<div class="container" id="div1">
        <div class="screen">
            <div class="screen__content">
                <h1 class="title">Платформа Тэк</h1>
                <form  method="post" action="" class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="username" pattern="[a-zA-Z0-9]+" required class="login__input" placeholder="Логин">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input"  name="password" required placeholder="Пароль">
                    </div>
                    <button class="button login__submit" type="submit" name="login" >
                        <span class="button__text">Авторизироваться</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="social-login">
                    <button onclick="toggleDivs(1)"><h3>Регистрация</h3></button>
                    
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>