
<div class="container hidden" id="div2">
        <div class="screen">
            <div class="screen__content">
                <h1 class="title">Платформа Тэк</h1>
                <form action="" method="post" class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="username" pattern="[a-zA-Z0-9]+" required  class="login__input" placeholder="Логин / Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" name="password" required  placeholder="Пароль">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="tel" name="number" class="login__input" placeholder="Номер">
                    </div>
                    <button class="button login__submit " type="submit" name="register">
                        <span class="button__text">Зарегистрироваться</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="social-login log">
                    <button onclick="toggleDivs(2)"><h3 >Авторизация</h3></button>
                    
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>